/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */

body {
  position: relative;
}

.navbar-brand {
  padding: 6px;
  margin-left: 10px;
}

.navbar-text {
  padding: 6px;
}

#mission-target,
#skills-target,
#contact-target {
  position: relative;
  top: -55px;
}

#hero-section {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url("img/background2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  width: 100%;
}

.empty-space {
  height: 20vh;
}

#headshot {
  background: url("img/IMG_8158.jpg");
  background-size: cover;
  background-position: center;
  width: 18vh;
  height: 18vh;
  max-width: 200px;
  border-radius: 100%;
  margin: 0 auto;
  border: 6px solid grey;
}

#hero-text {
  margin-top: 8px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  color: white;
}

#mission-section {
  width: 100%;
  min-height:50vh;
  background-color: #333333
}

.mission-text-header {
  color: white;
  text-align: center;
  padding-block-start: 28px;
}

#mission-img {
  height: 400px;
  object-fit: contain;
  object-position: center;
  padding: 30px;
  max-height: 50vh;
  width: 100%;
  border-radius: 30px 0;
}

#mission-statement {
  display: flex;
  color: white;
  text-align: center;
  padding: 28px;
  align-items: center;
}

#skills-section {
  width: 100%;
  min-height: 50vh;
  background-color: #6CA6C4;
}

.skills-text {
  color:#333333;
  text-align: center;
}

.skills-img {
  height: 200px;
  object-fit: contain;
  object-position: center;
  padding: 30px;
  max-height: 50vh;
  width: 100%;
  border-radius: 30px 0;
}

.skills-text-header {
  color: #333333;
  text-align: center;
  padding: 28px;
}

#contact-section {
  width: 100%;
  min-height: 50vh;
  background-color: #333333;
}


.contact-text-header {
  color: white;
  text-align: center;
  padding-block-start: 28px;
  padding-block-end: 18px;
}

.contact-section-empty-space {
  height: 8vh;
}

.contact-icons {
  color: white;
  font-size: 60px;
  height: 75px;
  text-align: center;
  justify-content: center;
  margin-block-end: 20px;
  width: 100%;
  position: relative;
}

.bi:hover {
  color: gray;
}


#footer-section {
  color: white;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
}


